@{
    ViewData["Title"] = "Test Up - First Online Exam Platform";
}

<body style="background-color: #82DBD8; color:#B3E8E5;">
    <header class="header">
        <button class="sidebar-btn">
            <img src="~/images/threeline.svg" alt="logo" style="margin:auto; height:20px; width:20px;">
        </button>
            <a asp-action="Privacy" asp-controller="Home" method="get" style="cursor:pointer;">
                 <img src="~/images/testuptxt.png" />
            </a>

    </header>
    <div class="container d-flex p-0" style="width:100%;">
        <div class="sidebar">
            <h1>iskandar</h1>
        </div>

        <div class="content">
            <p>kodirov</p>
        </div>
    </div>
</body>

<style>
    .header{
        background-color: #3BACB6;
        display:flex;
        width:100vw;
        margin-right:auto;
        margin-left:auto;
        height:79px;
        align-items:center;
    }

    .sidebar{
        width:20%;
        height:100%;
    }

    .sidebar-btn{
        background-color: #3BACB6;
        padding: 6px !important;
        margin-right: 16px;
        margin-left: 16px;
        width: 36px;
        height: 36px !important;
        font-size: inherit;
        font-weight: inherit;
        text-decoration: inherit;
        line-height: normal;
        outline: inherit;
        white-space: normal;
        text-overflow: inherit;
        overflow: visible;
        border-radius: 4px !important;
        border:none;
    }

    .sidebar-btn:hover {
            background-color: #2F8F9D; /* Change to your desired hover background color */
    }

    .content{
        width: 80%;
        height: 100%;
    }
</style>